ipch/
ConsoleCS/obj/
LibraryCS/obj/
*.vcxproj.user
new_test_at_dortmund.v11.suo
new_test_at_dortmund.sdf
new_test_at_dortmund.opensdf
.vs/
new_test_at_dortmund.VC.db
.svn/
/AsychReadFile.psess
/AsychReadFile171213.vsp
/new_test_at_dortmund.VC.VC.opendb
/Debug
/Release
/x64
/XML/fetchConf_out.xml
/new_test_at_dortmund.index
